*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

a{
    color: #f5f5f5;
    text-decoration: none;
}

a:hover{
    color: #101010;
    transition: 0.2s all;
    text-shadow: 0px 2px 20px #f5f5f5;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.master1{
    padding: 10px;
    width: 40%;
    height: 50%;
    border-radius: 25px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.master2{
    padding: 30px;
    width: 40%;
    height: auto;
    border-radius: 25px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

p{
    color: #101010;
}

.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.view{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2{
    display: flex;
    gap: 10px;
}

.reset, .colorRandom{
    width: 200px;
    height: 50px;
    background-color: #212121;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.color2{
    width: 50px;
    height: 50px;
    background-color: #7A4ED9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.color3{
    width: 50px;
    height: 50px;
    background-color: #5AE881;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

}

.color1{
    width: 50px;
    height: 50px;
    background-color: #F7DB58;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

}

.color4{
    width: 50px;
    height: 50px;
    background-color: #ED584E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

}

.view{
    width: 300px;
    height: 50px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

@media screen and (max-width: 768px){
    .master1{
        height: 50%;
        width: 100%;
    }

    .master2{
        height: 25%;
        width: 100%;
    }

    .view{
        width: 250px;
    }
}